
header {
    background: rgb(54, 52, 52);
	height: 60px;
}
#banner {
	width:100%;
}
.logo {
	height: 50px;
	width: 50px;
	padding: 10px;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;

}
nav a:hover {
 color: #c78c19;
 text-decoration: underline;
}
.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}



.imagembeneficios {
	width: 50%;
}